extends device-pages
block selected
  -var selected = 'Approved Devices';
block assetTable
  each asset in assets
    tr(id=asset.MAC)
      td
        button.btn.btn-primary.btn-sm(onClick=('Edit("'+ asset.MAC +'")')) Edit
        br
        button.btn.btn-danger.btn-sm(onClick=('Delete("'+ asset.MAC +'")')) Delete
      td #{asset.MAC}
      td #{asset.Name}
      td #{asset.Description}
      td #{asset.Vendor}
      td #{asset.IP}
      td #{asset.AssetTypeName}
      td #{asset.LastUpdated}