extends device-pages
block selected
  -var selected = 'Approved Devices';
block assetTable
  each asset in assets
    tr(id=asset.MAC, class=asset.blocked && 'blocked-row' )
      td
        table
          tr
            td(colspan='2')
              button.btn.btn-primary.btn-sm.btn-block(onClick=('Edit("'+ asset.MAC +'")')) Edit
          tr
            td
              if asset.blocked === true
                button.btn.btn-warning.btn-sm.btn-block(id=asset.IP, onClick=('Block("'+ asset.MAC +'", "'+ asset.IP +'")')) Unblock
              else
                button.btn.btn-warning.btn-sm.btn-block(id=asset.IP, onClick=('Block("'+ asset.MAC +'", "'+ asset.IP +'")')) Block
            td
              button.btn.btn-danger.btn-sm.btn-block(onClick=('Delete("'+ asset.MAC +'")')) Delete
      td #{asset.MAC}
      td.nameColumn #{asset.Name}
      td.descriptionColumn
        .scrollable #{asset.Description}
      td.nmapColumn
        if asset.Nmap != null
          #nmapDiv.scrollable
            table
              tr
                td
                  button.btn.btn-secondary.btn-sm(onClick=('Scan("'+ asset.MAC +'", "'+ asset.IP +'")')) Scan
                td
                  button.btn.btn-light.btn-sm(onClick=('ScanResults("'+ asset.MAC +'", "'+ asset.IP +'")')) Scan Results
              tr
                td(colspan='2')
                  p(style='white-space:pre;')
                    | #{asset.Nmap}
        else
          button.btn.btn-secondary.btn-sm(onClick=('Scan("'+ asset.MAC +'", "'+ asset.IP +'")')) Scan
      td #{asset.Vendor}
      td #{asset.IP}
      td.assetTypeColumn #{asset.AssetTypeName}
      td #{asset.LastUpdated}