extends device-pages
block selected
  -var selected = 'New Detected Devices';
block assetTable
  each asset in assets
    tr(id=asset.MAC)
      td
        table
          tr
            td
              button.btn.btn-primary.btn-sm.btn-block(onClick=('Edit("'+ asset.MAC +'")')) Edit
            td
              button.btn.btn-success.btn-sm.btn-block(onClick=('Approve("'+asset.MAC+'")')) Approve
          tr
            td
              button.btn.btn-warning.btn-sm.btn-block(onClick=('Block("'+ asset.MAC +'")')) Block
            td
              button.btn.btn-danger.btn-sm.btn-block(onClick=('Delete("'+ asset.MAC +'")')) Delete
      td #{asset.MAC}
      td.nameColumn #{asset.Name}
      td.descriptionColumn #{asset.Description}
      td #{asset.Vendor}
      td #{asset.IP}
      td.assetTypeColumn #{asset.AssetTypeName}
      td #{asset.LastUpdated}