extends navbar
block header
  script(src='/js/asset-tables.js')
block selected
  -var selected = 'New Detected Devices';
block body
  .container-fluid
    .row
      .col
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe illum fugit nam vero omnis atque vitae, quo aperiam autem fugiat accusamus laborum accusantium eligendi molestias. Blanditiis culpa aperiam ducimus pariatur.
          br
          | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat ratione velit perferendis error veritatis vel maiores rerum. Esse non beatae omnis consequuntur velit corrupti repudiandae repellat, placeat voluptas nesciunt doloribus?
          br
          | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam maiores, dolorum excepturi, laborum ipsam quia magni incidunt ab delectus ipsa veritatis eligendi fuga consequatur beatae, ea odio sunt atque nesciunt?
    .row
      .col
        table#assetTable.table.table-responsive.table-sm.table-striped
          thead
            tr
              th
              th Mac Address
              th Name
              th Decription
              th Vendor
              th IP Addresses
              th Asset Type
              th Last Updated
          tbody
            - var i = 0
            each asset in assets
              - i++
              tr(id=asset.MAC)
                td
                  button.btn.btn-primary.btn-sm(onClick=('Approve("'+asset.MAC+'")')) Approve
                  br
                  button.btn.btn-success.btn-sm(disabled, onClick=('Update("'+ asset.MAC +'")')) Save
                  br
                  button.btn.btn-danger.btn-sm(onClick=('Delete("'+ asset.MAC +'")')) Delete
                td #{asset.MAC}
                td
                  input.inputField(value=asset.Name)
                td
                  textarea.form-control
                    | #{asset.Description}
                td #{asset.Vendor}
                td #{asset.IP}
                td
                  select
                    option.selected(value=asset.AssetType) #{asset.AssetTypeName}
                td #{asset.LastUpdated}