extends navbar
block header
  script(src='/js/settings.js')
block selected
  -var selected = 'Settings';
block body
  form.form-horizonal.justify-content-center(action='/settings', method='post')
    h4 Password Settings
    button#editDatabasePasswordButton.btn.btn-primary(type='button', enabled) Edit Database Password
    br
    br
    button#editEmailAccountButton.btn.btn-primary(type='button', enabled) Edit Email Password for Notificaions
    br
    br
    button#editCookieSecretButton.btn.btn-primary(type='button', enabled) Edit Cookie Signing Secret
    br
    hr
    h4 Database Settings
    .form-group
      label(for='dbAddressInput') Database Address
      input#dbAddressInput.form-control(type='text', name='dbAddress', value=conf.dbAddress)
    .form-group
      label(for='dbPortInput') Database Port
      input#dbPortInput.form-control(type='text', name='dbPort', value=conf.dbPort)
    .form-group
      label(for='dbUserInput') Database User
      input#dbUserInput.form-control(type='text', name='dbUser', value=conf.dbUser)
    .form-group
      label(for='dbNameInput') Database Name
      input#dbNameInput.form-control(type='text', name='dbName', value=conf.dbName)
    .form-group
      label(for='hashStrengthInput') BCrypt hash Iterations.  (Don't change unless you know what you are doing)
      input#hashStrengthInput.form-control(type='text', name='hashStrength', value=conf.hashStrength)
    hr
    h4 Web Server Settings
    .form-group
      label(for='serverPortInput') Web Server Port
      input#serverPortInput.form-control(type='text', name='serverPort', value=conf.serverPort)
    hr
    h4 Scanner Settings
    .form-group
      label(for='CidrRangesInput') Scanner CIDR Ranges (Example: ["192.168.1.0/24", "172.16.0.0/12", "10.0.0.0/8"])
      input#CidrRangesInput.form-control(type='text', name='CidrRanges', value=conf.CidrRanges)
    .form-group
      label(for='scanIntervalInput') Scanner Frequency in Seconds
      input#scanIntervalInput.form-control(type='text', name='scanInterval', value=conf.scanInterval)
    hr
    h4 Email Settings
    .form-group
      label(for='emailServerInput') Email Server Address
      input#emailServerInput.form-control(type='text', name='emailServer', value=conf.emailServer)
    .form-group
      label(for='smtpPortInput') Email Server SMTP Port
      input#smtpPortInput.form-control(type='text', name='smtpPort', value=conf.smtpPort)
    .form-group
      label(for='emailSenderInput') Email Address for Sending Notifications
      input#emailSenderInput.form-control(type='text', name='emailSender', value=conf.emailSender)
    .form-group
      label(for='emailSenderUsernameInput') Email Server Username
      input#emailSenderUsernameInput.form-control(type='text', name='emailSenderUsername', value=conf.emailSenderUsername)
    .form-group
      label(for='emailRecipientInput') Email Address for Receiving Notifications
      input#emailRecipientInput.form-control(type='text', name='emailRecipient', value=conf.emailRecipient)
    .form-group
      label(for='emailTlsInput') Email Server Requires TLS 
        input#emailTlsInput.form-control(type='checkbox', name='emailTls', checked=(conf.emailTls === 'True' || conf.emailTls === 'true'))
    button#editSettingsSubmitButton.btn.btn-primary(type='button', enabled) Submit

  //Modal for editing database password
  #databasePasswordResetModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='databasePasswordResetModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#databasePasswordResetModalLabel.modal-title Please enter a new database password
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          form.form-horizonal.justify-content-center(action='/settings/dbPassword', method='post')
            .form-group
              label Password
              input#databasePassword1.form-control(type='password', name='dbPassword')
            .form-group
              label Confirm Password
              input#databasePassword2.form-control(type='password', name='confirmDbPassword')
            button#databasePasswordResetSubmitButton.btn.btn-primary(type='button', disabled) Submit
        
  //Modal for editing email password
  #emailPasswordResetModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='emailPasswordResetModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#emailPasswordResetModalLabel.modal-title Please enter a new email password
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          form.form-horizonal.justify-content-center(action='/passwordreset', method='post')
            .form-group
              label Password
              input#emailPassword1.form-control(type='password', name='password')
            .form-group
              label Confirm Password
              input#emailPassword2.form-control(type='password', name='confirmPassword')
            button#emailPasswordResetSubmitButton.btn.btn-primary(type='button', disabled) Submit

  //Modal for editing cookie signing secret
  #cookieSecretResetModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='cookieSecretResetModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#cookieSecretResetModalLabel.modal-title Please enter a new cookie signing secret
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          form.form-horizonal.justify-content-center(action='/passwordreset', method='post')
            .form-group
              label Password
              input#cookieSecret1.form-control(type='password', name='password')
            .form-group
              label Confirm Password
              input#cookieSecret2.form-control(type='password', name='confirmPassword')
            button#cookieSecretResetSubmitButton.btn.btn-primary(type='button', disabled) Submit