extends navbar
block header
  script(src='/js/settings.js')
block selected
  -var selected = 'Settings';
block body
  form.form-horizonal.justify-content-center(action='/settings', method='post')
    h4 Database Settings
    button#backupDatabaseButton.btn.btn-primary(type='button', enabled) Backup Database
    br
    br
    button#restoreDatabaseButton.btn.btn-primary(type='button', enabled) Restore Database
    br
    br
    .form-group
      label(for='dbAddressInput') Database Address
      input#dbAddressInput.form-control(type='text', name='dbAddress', value=process.env.DB_ADDRESS)
    .form-group
      label(for='dbPortInput') Database Port
      input#dbPortInput.form-control(type='text', name='dbPort', value=process.env.DB_PORT)
    .form-group
      label(for='dbUserInput') Database User
      input#dbUserInput.form-control(type='text', name='dbUser', value=process.env.DB_USER)
    .form-group
      label(for='dbNameInput') Database Name
      input#dbNameInput.form-control(type='text', name='dbName', value=process.env.DB_NAME)
    .form-group
      label(for='hashStrengthInput') BCrypt hash Iterations.  (Don't change unless you know what you are doing)
      input#hashStrengthInput.form-control(type='text', name='hashStrength', value=conf.hashStrength)
    hr
    h4 Scanner Settings
    .form-group
      label(for='CidrRangesInput') Scanner CIDR Ranges (Example: ["192.168.1.0/24", "172.16.0.0/12", "10.0.0.0/8"])
      input#CidrRangesInput.form-control(type='text', name='CidrRanges', value=conf.CidrRanges)
    .form-group
      label(for='scanIntervalInput') Scanner Frequency in Seconds
      input#scanIntervalInput.form-control(type='text', name='scanInterval', value=conf.scanInterval)
    hr
    h4 Email Settings
    .form-group
      label(for='emailServerInput') Email Server Address
      input#emailServerInput.form-control(type='text', name='emailServer', value=conf.emailServer)
    .form-group
      label(for='smtpPortInput') Email Server SMTP Port
      input#smtpPortInput.form-control(type='text', name='smtpPort', value=conf.smtpPort)
    .form-group
      label(for='emailSenderInput') Email Address for Sending Notifications
      input#emailSenderInput.form-control(type='text', name='emailSender', value=conf.emailSender)
    .form-group
      label(for='emailSenderUsernameInput') Email Server Username
      input#emailSenderUsernameInput.form-control(type='text', name='emailSenderUsername', value=conf.emailSenderUsername)
    .form-group
      label(for='emailRecipientInput') Email Address for Receiving Notifications
      input#emailRecipientInput.form-control(type='text', name='emailRecipient', value=conf.emailRecipient)
    button#editEmailAccountButton.btn.btn-primary(type='button', enabled) Change Email Password
    .form-group
      label(for='emailTlsInput') Email Server Requires TLS 
        input#emailTlsInput.form-control(type='checkbox', name='emailTls', checked=(conf.emailTls === 'True' || conf.emailTls === 'true'))  
    hr
    button#editSettingsSubmitButton.btn.btn-primary(type='button', enabled) Submit
        
  //Modal for editing email password
  #emailPasswordResetModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='emailPasswordResetModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#emailPasswordResetModalLabel.modal-title Please enter a new email password
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          form.form-horizonal.justify-content-center(action='/passwordreset', method='post')
            .form-group
              label Password
              input#emailPassword1.form-control(type='password', name='password')
            .form-group
              label Confirm Password
              input#emailPassword2.form-control(type='password', name='confirmPassword')
            button#emailPasswordResetSubmitButton.btn.btn-primary(type='button', disabled) Submit

  //Modal for restoring database
  #databaseRestoreModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='databaseRestoreModalLabel', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#databaseRestoreModalLabel.modal-title Please select a restore point
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          form.form-horizonal.justify-content-center(action='/dbbackup', method='post')
            .form-group
              label Restore Points
              select#databaseRestoreSelection.select.form-control
                option(value='0', selected= true) -- Select --
            button#databaseRestoreSubmitButton.btn.btn-primary(type='button', disabled) Submit